<?xml version="1.0" encoding="UTF-8"?>
<product xmlns="http://apache.org/cordova/ns/plugins/1.0" id="lfe.VideoStreamerCordovaPlugin" version="1.0.1">
 <name>VideoStreamPlugin</name>
 <description></description>
 <keywords></keywords>
 <license></license>
 <platform name="ios">
  <config-file target="config.xml" parent="/*">
   <feature name="CDVStreamManager">
    <param name="ios-package" value="CDVStreamManager"/>
   </feature>
  </config-file>
  <header-file src="AFNetworking/AFNetworking/AFHTTPRequestOperation.h"/>
  <header-file src="AFNetworking/AFNetworking/AFHTTPRequestOperationManager.h"/>
  <header-file src="AFNetworking/AFNetworking/AFHTTPSessionManager.h"/>
  <header-file src="AFNetworking/AFNetworking/AFNetworkReachabilityManager.h"/>
  <header-file src="AFNetworking/AFNetworking/AFNetworking.h"/>
  <header-file src="AFNetworking/AFNetworking/AFSecurityPolicy.h"/>
  <header-file src="AFNetworking/AFNetworking/AFURLConnectionOperation.h"/>
  <header-file src="AFNetworking/AFNetworking/AFURLRequestSerialization.h"/>
  <header-file src="AFNetworking/AFNetworking/AFURLResponseSerialization.h"/>
  <header-file src="AFNetworking/AFNetworking/AFURLSessionManager.h"/>
  <header-file src="AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.h"/>
  <header-file src="AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.h"/>
  <header-file src="AFNetworking/UIKit+AFNetworking/UIAlertView+AFNetworking.h"/>
  <header-file src="AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.h"/>
  <header-file src="AFNetworking/UIKit+AFNetworking/UIImage+AFNetworking.h"/>
  <header-file src="AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.h"/>
  <header-file src="AFNetworking/UIKit+AFNetworking/UIKit+AFNetworking.h"/>
  <header-file src="AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.h"/>
  <header-file src="AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.h"/>
  <header-file src="AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.h"/>
  <header-file src="CocoaAsyncSocket/Source/CocoaAsyncSocket.h"/>
  <header-file src="CocoaAsyncSocket/Source/GCD/GCDAsyncSocket.h"/>
  <header-file src="CocoaAsyncSocket/Source/GCD/GCDAsyncUdpSocket.h"/>
  <header-file src="CocoaAsyncSocket/Source/RunLoop/AsyncSocket.h"/>
  <header-file src="CocoaAsyncSocket/Source/RunLoop/AsyncUdpSocket.h"/>
  <header-file src="CocoaHTTPServer/Core/Categories/DDData.h"/>
  <header-file src="CocoaHTTPServer/Core/Categories/DDNumber.h"/>
  <header-file src="CocoaHTTPServer/Core/Categories/DDRange.h"/>
  <header-file src="CocoaHTTPServer/Core/HTTPAuthenticationRequest.h"/>
  <header-file src="CocoaHTTPServer/Core/HTTPConnection.h"/>
  <header-file src="CocoaHTTPServer/Core/HTTPLogging.h"/>
  <header-file src="CocoaHTTPServer/Core/HTTPMessage.h"/>
  <header-file src="CocoaHTTPServer/Core/HTTPResponse.h"/>
  <header-file src="CocoaHTTPServer/Core/HTTPServer.h"/>
  <header-file src="CocoaHTTPServer/Core/Mime/MultipartFormDataParser.h"/>
  <header-file src="CocoaHTTPServer/Core/Mime/MultipartMessageHeader.h"/>
  <header-file src="CocoaHTTPServer/Core/Mime/MultipartMessageHeaderField.h"/>
  <header-file src="CocoaHTTPServer/Core/Responses/HTTPAsyncFileResponse.h"/>
  <header-file src="CocoaHTTPServer/Core/Responses/HTTPDataResponse.h"/>
  <header-file src="CocoaHTTPServer/Core/Responses/HTTPDynamicFileResponse.h"/>
  <header-file src="CocoaHTTPServer/Core/Responses/HTTPErrorResponse.h"/>
  <header-file src="CocoaHTTPServer/Core/Responses/HTTPFileResponse.h"/>
  <header-file src="CocoaHTTPServer/Core/Responses/HTTPRedirectResponse.h"/>
  <header-file src="CocoaHTTPServer/Core/WebSocket.h"/>
  <header-file src="CocoaHTTPServer/Extensions/WebDAV/DAVConnection.h"/>
  <header-file src="CocoaHTTPServer/Extensions/WebDAV/DAVResponse.h"/>
  <header-file src="CocoaHTTPServer/Extensions/WebDAV/DELETEResponse.h"/>
  <header-file src="CocoaHTTPServer/Extensions/WebDAV/PUTResponse.h"/>
  <header-file src="CocoaLumberjack/Classes/CocoaLumberjack.h"/>
  <header-file src="CocoaLumberjack/Classes/DDASLLogCapture.h"/>
  <header-file src="CocoaLumberjack/Classes/DDASLLogger.h"/>
  <header-file src="CocoaLumberjack/Classes/DDAbstractDatabaseLogger.h"/>
  <header-file src="CocoaLumberjack/Classes/DDAssertMacros.h"/>
  <header-file src="CocoaLumberjack/Classes/DDFileLogger.h"/>
  <header-file src="CocoaLumberjack/Classes/DDLegacyMacros.h"/>
  <header-file src="CocoaLumberjack/Classes/DDLog+LOGV.h"/>
  <header-file src="CocoaLumberjack/Classes/DDLog.h"/>
  <header-file src="CocoaLumberjack/Classes/DDLogMacros.h"/>
  <header-file src="CocoaLumberjack/Classes/DDTTYLogger.h"/>
  <header-file src="CocoaLumberjack/Classes/Extensions/DDContextFilterLogFormatter.h"/>
  <header-file src="CocoaLumberjack/Classes/Extensions/DDDispatchQueueLogFormatter.h"/>
  <header-file src="CocoaLumberjack/Classes/Extensions/DDMultiFormatter.h"/>
  <header-file src="FormatterKit/FormatterKit/TTTTimeIntervalFormatter.h"/>
  <header-file src="Plugin/CDVStreamManager.h"/>
  <header-file src="Plugin/CDVStreamViewController.h"/>
  <header-file src="Plugin/HTTPResponeWithHeaders.h"/>
  <header-file src="Plugin/HTTPResponseTest.h"/>
  <header-file src="Plugin/HttpConnectionHandler.h"/>
  <header-file src="Plugin/MyWebSocket.h"/>
  <header-file src="Plugin/NSDictionary+BVJSONString.h"/>
  <header-file src="Plugin/VideoManager.h"/>
  <header-file src="Recorder/Codecs/Audio/AAC/KFAACEncoder.h"/>
  <header-file src="Recorder/Codecs/Audio/KFAudioEncoder.h"/>
  <header-file src="Recorder/Codecs/KFEncoder.h"/>
  <header-file src="Recorder/Codecs/KFFrame.h"/>
  <header-file src="Recorder/Codecs/Video/H264/AVEncoder.h"/>
  <header-file src="Recorder/Codecs/Video/H264/KFH264Encoder.h"/>
  <header-file src="Recorder/Codecs/Video/H264/MP4Atom.h"/>
  <header-file src="Recorder/Codecs/Video/H264/NALUnit.h"/>
  <header-file src="Recorder/Codecs/Video/H264/VideoEncoder.h"/>
  <header-file src="Recorder/Codecs/Video/KFVideoEncoder.h"/>
  <header-file src="Recorder/Codecs/Video/KFVideoFrame.h"/>
  <header-file src="Recorder/Inputs/KFRecorder.h"/>
  <header-file src="Recorder/Utilities/KFDateUtils.h"/>
  <header-file src="Recorder/Utilities/KFLog.h"/>
  <source-file src="AFNetworking/AFNetworking/AFHTTPRequestOperation.m"/>
  <source-file src="AFNetworking/AFNetworking/AFHTTPRequestOperationManager.m"/>
  <source-file src="AFNetworking/AFNetworking/AFHTTPSessionManager.m"/>
  <source-file src="AFNetworking/AFNetworking/AFNetworkReachabilityManager.m"/>
  <source-file src="AFNetworking/AFNetworking/AFSecurityPolicy.m"/>
  <source-file src="AFNetworking/AFNetworking/AFURLConnectionOperation.m"/>
  <source-file src="AFNetworking/AFNetworking/AFURLRequestSerialization.m"/>
  <source-file src="AFNetworking/AFNetworking/AFURLResponseSerialization.m"/>
  <source-file src="AFNetworking/AFNetworking/AFURLSessionManager.m"/>
  <source-file src="AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.m"/>
  <source-file src="AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.m"/>
  <source-file src="AFNetworking/UIKit+AFNetworking/UIAlertView+AFNetworking.m"/>
  <source-file src="AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.m"/>
  <source-file src="AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.m"/>
  <source-file src="AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.m"/>
  <source-file src="AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.m"/>
  <source-file src="AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.m"/>
  <source-file src="CocoaAsyncSocket/Source/GCD/GCDAsyncSocket.m"/>
  <source-file src="CocoaAsyncSocket/Source/GCD/GCDAsyncUdpSocket.m"/>
  <source-file src="CocoaAsyncSocket/Source/RunLoop/AsyncSocket.m"/>
  <source-file src="CocoaAsyncSocket/Source/RunLoop/AsyncUdpSocket.m"/>
  <source-file src="CocoaHTTPServer/Core/Categories/DDData.m"/>
  <source-file src="CocoaHTTPServer/Core/Categories/DDNumber.m"/>
  <source-file src="CocoaHTTPServer/Core/Categories/DDRange.m"/>
  <source-file src="CocoaHTTPServer/Core/HTTPAuthenticationRequest.m"/>
  <source-file src="CocoaHTTPServer/Core/HTTPConnection.m"/>
  <source-file src="CocoaHTTPServer/Core/HTTPMessage.m"/>
  <source-file src="CocoaHTTPServer/Core/HTTPServer.m"/>
  <source-file src="CocoaHTTPServer/Core/Mime/MultipartFormDataParser.m"/>
  <source-file src="CocoaHTTPServer/Core/Mime/MultipartMessageHeader.m"/>
  <source-file src="CocoaHTTPServer/Core/Mime/MultipartMessageHeaderField.m"/>
  <source-file src="CocoaHTTPServer/Core/Responses/HTTPAsyncFileResponse.m"/>
  <source-file src="CocoaHTTPServer/Core/Responses/HTTPDataResponse.m"/>
  <source-file src="CocoaHTTPServer/Core/Responses/HTTPDynamicFileResponse.m"/>
  <source-file src="CocoaHTTPServer/Core/Responses/HTTPErrorResponse.m"/>
  <source-file src="CocoaHTTPServer/Core/Responses/HTTPFileResponse.m"/>
  <source-file src="CocoaHTTPServer/Core/Responses/HTTPRedirectResponse.m"/>
  <source-file src="CocoaHTTPServer/Core/WebSocket.m"/>
  <source-file src="CocoaHTTPServer/Extensions/WebDAV/DAVConnection.m"/>
  <source-file src="CocoaHTTPServer/Extensions/WebDAV/DAVResponse.m"/>
  <source-file src="CocoaHTTPServer/Extensions/WebDAV/DELETEResponse.m"/>
  <source-file src="CocoaHTTPServer/Extensions/WebDAV/PUTResponse.m"/>
  <source-file src="CocoaLumberjack/Classes/DDASLLogCapture.m"/>
  <source-file src="CocoaLumberjack/Classes/DDASLLogger.m"/>
  <source-file src="CocoaLumberjack/Classes/DDAbstractDatabaseLogger.m"/>
  <source-file src="CocoaLumberjack/Classes/DDFileLogger.m"/>
  <source-file src="CocoaLumberjack/Classes/DDLog.m"/>
  <source-file src="CocoaLumberjack/Classes/DDTTYLogger.m"/>
  <source-file src="CocoaLumberjack/Classes/Extensions/DDContextFilterLogFormatter.m"/>
  <source-file src="CocoaLumberjack/Classes/Extensions/DDDispatchQueueLogFormatter.m"/>
  <source-file src="CocoaLumberjack/Classes/Extensions/DDMultiFormatter.m"/>
  <source-file src="FormatterKit/FormatterKit/TTTTimeIntervalFormatter.m"/>
  <source-file src="Plugin/CDVStreamManager.m"/>
  <source-file src="Plugin/CDVStreamViewController.m"/>
  <source-file src="Plugin/HTTPResponseTest.m"/>
  <source-file src="Plugin/HTTPResponseWithHeaders.m"/>
  <source-file src="Plugin/HttpConnectonHandler.m"/>
  <source-file src="Plugin/MyWebSocket.m"/>
  <source-file src="Plugin/NSDictionary+BVJSONString.m"/>
  <source-file src="Plugin/VideoManager.m"/>
  <source-file src="Recorder/Codecs/Audio/AAC/KFAACEncoder.m"/>
  <source-file src="Recorder/Codecs/Audio/KFAudioEncoder.m"/>
  <source-file src="Recorder/Codecs/KFEncoder.m"/>
  <source-file src="Recorder/Codecs/KFFrame.m"/>
  <source-file src="Recorder/Codecs/Video/H264/AVEncoder.mm"/>
  <source-file src="Recorder/Codecs/Video/H264/KFH264Encoder.mm"/>
  <source-file src="Recorder/Codecs/Video/H264/MP4Atom.m"/>
  <source-file src="Recorder/Codecs/Video/H264/NALUnit.cpp"/>
  <source-file src="Recorder/Codecs/Video/H264/VideoEncoder.m"/>
  <source-file src="Recorder/Codecs/Video/KFVideoEncoder.m"/>
  <source-file src="Recorder/Codecs/Video/KFVideoFrame.m"/>
  <source-file src="Recorder/Inputs/KFRecorder.m"/>
  <source-file src="Recorder/Utilities/KFDateUtils.m"/>
  <resource-file src="Plugin/CDVStreamView.xib"/>
  <framework src="SystemConfiguration.framework"/>
  <framework src="CoreVideo.framework"/>
  <framework src="CoreMedia.framework"/>
  <framework src="AVFoundation.framework"/>
  <framework src="AudioToolbox.framework"/>
  <framework src="CoreMedia.framework"/>

  <hook type="after_plugin_add" src="hooks/after_plugin_add/after_plugin_add_libxml_search_path.js" />
 </platform>
</product>
